
@{
    ViewData["Title"] = "Home Page";
}
<style>
body {background-color: powderblue;}
h1   {color: blue;}
h3    {color: red;}
</style>

<body >
<img src="~/lib/catgif.gif" loop=infinite>
<p>
    <h1>
        未来へようこそ❕

    </h1>
    <h3>
        使うためにはログインしてください。
    </h3>
</p>
</body>


